USE [master]
GO
/****** Object:  Database [cefalodb]    Script Date: 7/13/2018 2:07:26 AM ******/
CREATE DATABASE [cefalodb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cefalodb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\cefalodb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cefalodb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\cefalodb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cefalodb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cefalodb]
GO
/****** Object:  Table [dbo].[tblPersons]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPersons](
	[personID] [int] NULL,
	[name] [varchar](50) NULL,
	[country] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStory]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [text] NULL,
	[Body] [text] NULL,
	[DatePosted] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[tblPersons] ([personID], [name], [country]) VALUES (1, N'Ahnaf', N'Bangladesh')
SET IDENTITY_INSERT [dbo].[tblStory] ON 

INSERT [dbo].[tblStory] ([ID], [Title], [Body], [DatePosted]) VALUES (1, N'Comet robot Philae phones home again', N'Europe’s comet lander has again been in touch with Earth. The Philae probe made three short contacts of about 10 seconds each at roughly 2130 GMT on Sunday. Controllers at the European Space Agency said the contacts were briefer than they had hoped, but proved the little robot was in encouragingly good health after its seven-month slumber. Philae landed on Comet 67P in November and worked for 60 hours before its battery ran flat.', CAST(N'2018-07-05' AS Date))
SET IDENTITY_INSERT [dbo].[tblStory] OFF
/****** Object:  StoredProcedure [dbo].[spAddStories]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ahnaf Shahriar>
-- Create date: <12-Jul-2018>
-- Description:	<Get all the stories from tblStory>
-- =============================================
CREATE PROCEDURE [dbo].[spAddStories] 
@vTitle TEXT,
@vBody TEXT,
@vPostedDate DATE
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO [dbo].[tblStory]
           ([Title]
           ,[Body]
           ,[DatePosted])
     VALUES
           (@vTitle, @vBody, @vPostedDate)
END

GO
/****** Object:  StoredProcedure [dbo].[spDeleteStories]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ahnaf Shahriar>
-- Create date: <12-Jul-2018>
-- Description:	<Delete story>
-- =============================================
CREATE PROCEDURE [dbo].[spDeleteStories] 
@vID INT
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM tblStory
	WHERE
	ID = @vID
END

GO
/****** Object:  StoredProcedure [dbo].[spEditStory]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ahnaf Shahriar>
-- Create date: <13 Jul 2018>
-- Description:	<Stored Procedure to edit stories>
-- =============================================
CREATE PROCEDURE [dbo].[spEditStory]
@vID INT,
@vTitle TEXT,
@vBody TEXT,
@vPostedDate DATE
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE tblStory
	SET Title = @vTitle, Body = @vBody, DatePosted = @vPostedDate
	WHERE
	ID = @vID
END

GO
/****** Object:  StoredProcedure [dbo].[spGetAllPersons]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetAllPersons]
as
Begin
 Select personID, name, country
 from tblPersons
End
GO
/****** Object:  StoredProcedure [dbo].[spGetAllStories]    Script Date: 7/13/2018 2:07:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Ahnaf Shahriar>
-- Create date: <12-Jul-2018>
-- Description:	<Get all the stories from tblStory>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllStories]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM tblStory
END

GO
USE [master]
GO
